body
{
 background-color: white;
 margin: 0 !important;
}

h1
{
 font-size: 25px;	
}

#cont
{
 width: 100%;
}

#top
{
 padding: 5px;
}

#logo
{
  margin: auto;	
  width: 15%;
  height: 15%;
}

#logo img
{
 width:100%;
}

#top
{
 padding: 5px;
}

#stu
{
        background-color: #ccffff;
	padding: 5px;
        border: 2px solid black;
}

#tytul
{
  text-align: center;
}


#menu
{
        background-color: #ccffff;
	color: black;
	padding: 10px;
	text-align: center;
	clear: both;
	letter-spacing: -0.5px;
	font-weight:bold;
        border: 2px solid black;
}

#brus
{
	padding: 5px;
}

.naglowek
{
	margin: auto;
	width: 70%;
	height: 400px;
	overflow: scroll;
	text-align: justify;
	border-bottom: 2px solid black;
	padding: 5px;
}

.naglowek2
{
	margin: auto;
	width: 70%;
	height: 400px;
	overflow: scroll;
	text-align: justify;
	border-bottom: 2px solid black;
	padding: 5px;
}

.zdjecie
{
	padding: 5px;
	margin: auto;
	width:30%;
	height: auto;
}

.linki
{
	text-align: center;
	margin: auto;
	width:70%;
	height: auto;
	border-bottom: 1px dotted black;
	padding:5px;
}

.clear
{
	clear: both;
}


.gal
{
	border-top: 1px solid black;
	text-align: center;
	clear: both;
	display: block;
	width: 100%;
	margin-top: 10px;
}

.zdjecie1
{
	width:15%;
	height: auto;
	float: left;
	margin-left: 4%;
}

#footer
{
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 10px;
}

.map
{
        margin:auto;
	width:90%;
	height:auto;
	padding: 5px;
}

.map iframe
{
	width:100%;	
}

.opis
{
	width:70%;
	height: 300px;
	margin: auto;
	text-align: justify;
	padding:5px;
	overflow: scroll;
}


ol {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 70%;
	
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 1px dotted black;
}

li a:hover {
    background-color: #555;
    color: white;
}
